<html lang="EN" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:text="|Logged in as ${username}|"></div>
    <a th:if="${displayAdminPageLink}" href="/admin">Open admin page</a>

    <form th:if="${displayExitSwitchUserLink}" action="admin/switch_user_exit" method="POST">
        <button type="submit">Switch back to admin user</button>
    </form>
</body>
</html>